<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tartouslab.hasanlab.nensyria">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/nen_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".Flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MainDrawerActivity"
            android:label="@string/title_activity_main_drawer"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".RegisterActivity"></activity>
    </application>

</manifest>